<%# Why are we doing it like this? This is what we grab with the frontend 
entry file. But why do we do this instead of a traditional html file?
Always remember to throw in an error message. Why shouldn't we see this?
What does this mean if we see the message?%>
<main id="root">Congratulations you broke React. Nice Job!!</main>